<%= form_with(model: menu) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :breakfast %>
    <%= form.text_field :breakfast %>
  </div>

  <div class="field">
    <%= form.label :launch %>
    <%= form.text_field :launch %>
  </div>

  <div class="field">
    <%= form.label :launchDessert %>
    <%= form.text_field :launchDessert %>
  </div>

  <div class="field">
    <%= form.label :dinner %>
    <%= form.text_field :dinner %>
  </div>

  <div class="field">
    <%= form.label :dinnerDessert %>
    <%= form.text_field :dinnerDessert %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
