<p id="notice"><%= notice %></p>

<h1>Campings</h1>

<table>
  <thead>
    <tr>
      <th>Ubication</th>
      <th>Area</th>
      <th>Tents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campings.each do |camping| %>
      <tr>
        <td><%= camping.ubication %></td>
        <td><%= camping.area %></td>
        <td><%= camping.tents %></td>
        <td><%= link_to 'Show', camping %></td>
        <td><%= link_to 'Edit', edit_camping_path(camping) %></td>
        <td><%= link_to 'Destroy', camping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camping', new_camping_path %>
