<p id="notice"><%= notice %></p>

<h1>Bathrooms</h1>

<table>
  <thead>
    <tr>
      <th>Ubication</th>
      <th>Shower</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bathrooms.each do |bathroom| %>
      <tr>
        <td><%= bathroom.ubication %></td>
        <td><%= bathroom.shower %></td>
        <td><%= bathroom.gender %></td>
        <td><%= link_to 'Show', bathroom %></td>
        <td><%= link_to 'Edit', edit_bathroom_path(bathroom) %></td>
        <td><%= link_to 'Destroy', bathroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bathroom', new_bathroom_path %>
