<p id="notice"><%= notice %></p>

<h1>Cabin Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Reservation</th>
      <th>Cabin</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cabin_reservations.each do |cabin_reservation| %>
      <tr>
        <td><%= cabin_reservation.reservation_id %></td>
        <td><%= cabin_reservation.cabin_id %></td>
        <td><%= cabin_reservation.date %></td>
        <td><%= link_to 'Show', cabin_reservation %></td>
        <td><%= link_to 'Edit', edit_cabin_reservation_path(cabin_reservation) %></td>
        <td><%= link_to 'Destroy', cabin_reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cabin Reservation', new_cabin_reservation_path %>
