<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @cabin_reservation.reservation_id %>
</p>

<p>
  <strong>Cabin:</strong>
  <%= @cabin_reservation.cabin_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cabin_reservation.date %>
</p>

<%= link_to 'Edit', edit_cabin_reservation_path(@cabin_reservation) %> |
<%= link_to 'Back', cabin_reservations_path %>
