<div>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
          <div class='text-2xl text-white'>Los Quebrachos </div>
          </div>
          <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <button
                class="ml-3 relative bg-gray-800 text-white px-3 py-2 rounded-md font-medium hover:bg-gray-900 focus:bg-gray-700" type="button">
                  <%= link_to 'Cabañas', cabins_path%>
            </button>
            <button
                class="ml-3 relative bg-gray-800 text-white px-3 py-2 rounded-md font-medium hover:bg-gray-900 focus:bg-gray-700" type="button">
                  <%= link_to 'Campings', campings_path%>
            </button>
            <button
                class="ml-3 relative bg-gray-800 text-white px-3 py-2 rounded-md font-medium hover:bg-gray-900 focus:bg-gray-700" type="button">
                  <%= link_to 'Menu', menus_path%>
            </button>
              <button
                class="ml-3 relative bg-gray-800 text-white px-3 py-2 rounded-md font-medium hover:bg-gray-900 focus:bg-gray-700" type="button">
                    <%= link_to 'Reservas', reservations_path%>
              </button>
            
            <% if user_signed_in? %>
            <div class="block">
              <div class="ml-4 flex items-center md:ml-6">
              
              <%= link_to "Editar Perfil", edit_user_registration_path %>
              <%= link_to "Log out", destroy_user_session_path, :method => :delete , :class => "ml-3 relative bg-blue-600 text-white px-3 py-2 rounded-md font-medium hover:bg-blue-800" %>
              </div>
            </div>
            <% else %>
              <%= link_to "Iniciar Sesión", new_user_session_url, :class => "ml-3 relative bg-gray-800 text-white px-3 py-2 rounded-md font-medium hover:bg-gray-900 focus:bg-gray-700" %>
            <% end %>
            <button
                class="ml-3 relative bg-gray-800 text-white px-3 py-2 rounded-md font-medium hover:bg-gray-900 focus:bg-gray-700" type="button">
                  <%= link_to 'Previews', previews_path%>
            </button>
            <div>
            </div>
        </div>
    </div>
  </nav> 
</div>
