<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :pool %>
    <%= form.check_box :pool %>
  </div>

  <div class="field">
    <%= form.label :sport_center %>
    <%= form.check_box :sport_center %>
  </div>

  <div class="field">
    <%= form.label :soccerField %>
    <%= form.check_box :soccerField %>
  </div>

  <div class="field">
    <%= form.label :BeachVolleyball %>
    <%= form.check_box :BeachVolleyball %>
  </div>

 <div class="field">
    <%= form.label :people %>
    <%= form.number_field :people %>
  </div>



  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id %>
  </div>



  <div class="field">
    <%= form.label :baños %>
    <%= form.select :bathroom_ids, Bathroom.all.collect {|x| [x.gender,x.id]}, {}, :multiple => true, :size => 2 %>

  </div>
  <div class="field">
    <%= form.label :menu %>
    <%= form.select :menu_ids, Menu.all.collect {|x| [x.breakfast, x.dinner,x.id]}, {}, :multiple => true, :size => 5 %>

  </div>
  <div class="field">
    <%= form.label :salon %>
    <%= form.select :room_ids, Room.all.collect {|x| [x.name,x.id]}, {}, :multiple => true, :size => 5 %>

  </div>
  <div class="field">
    <%= form.label :cabaña %>
    <%= form.select :cabin_ids, Room.all.collect {|x| [x.name,x.id]}, {}, :multiple => true, :size => 5 %>

  </div>
  

    


  <div class="field">
    <%= form.label :camping_id %>

    <%= form.collection_select(:camping_id, Camping.all,:id, :id) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
