<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start date</th>
      <th>End date</th>
      <th><%= link_to 'cabaña', cabins_path  %></th>
      <th><%= link_to 'baño', bathrooms_path  %></th>
      <th><%= link_to 'menu', menus_path  %></th>
      <th><%= link_to 'salon', rooms_path  %></th>
      <th><%= link_to 'acampada', campings_path  %></th>
      <th>Sport center</th>
      <th>State</th>
      <th>Camping</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.end_date %></td>
        <td><%= reservation.pool %></td>
        <td><%= reservation.sport_center %></td>
        <td><%= reservation.state_id %></td>
        <td><%= reservation.camping_id %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
