<p id="notice"><%= notice %></p>

<div class="text-center text-3xl my-3 font-semibold">Reservations</div>

<table class="border-collapse w-full">
  <thead>
    <tr>
      <th scope="col" class="p-px	 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider">Usuario</th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider">Fecha Inicio</th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider">Fecha Final</th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= link_to 'cabaña', cabins_path  %></th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= link_to 'baño', bathrooms_path  %></th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= link_to 'menu', menus_path  %></th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= link_to 'salon', rooms_path  %></th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= link_to 'acampada', campings_path  %></th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider">Centro Deportivo</th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider">Estado</th>
      <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider">Camping</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr class="min-w-full divide-y divide-gray-200 border-b border-gray-200"> 
        <td scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider" ><%= reservation.user_id %></td>
        <td scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= reservation.start_date %></td>
        <td scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider" scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= reservation.end_date %></td>
        <td scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= reservation.pool %></td>
        <td scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= reservation.sport_center %></td>
        <td scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= reservation.state_id %></td>
        <td scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider"><%= reservation.camping_id %></td>

        <td class="px-6 py-4 whitespace-nowrap flex flex-row gap-3">
          <%= link_to '<div>&#x2630;</div>'.html_safe, reservation %>
          <%= link_to '<div>&#9998; </div>'.html_safe, edit_reservation_path(reservation) %>
          <%= link_to '<div>&#10008;</div>'.html_safe, reservation, method: :delete, data: { confirm: 'Are you sure?' } %> %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nueva Reserva', new_reservation_path, :class=> "w-full flex justify-center items-center py-2 px-12 border border-transparent font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %> 


