<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @room_reservation.reservation_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @room_reservation.room_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @room_reservation.date %>
</p>

<%= link_to 'Edit', edit_room_reservation_path(@room_reservation) %> |
<%= link_to 'Back', room_reservations_path %>
