<%= form_with(model: bathroom_reservation) do |form| %>
  <% if bathroom_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bathroom_reservation.errors.count, "error") %> prohibited this bathroom_reservation from being saved:</h2>

      <ul>
        <% bathroom_reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reservation_id %>
    <%= form.text_field :reservation_id %>
  </div>

  <div class="field">
    <%= form.label :bathroom_id %>
    <%= form.text_field :bathroom_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
