<p id="notice"><%= notice %></p>

<h1>Bathroom Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Reservation</th>
      <th>Bathroom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bathroom_reservations.each do |bathroom_reservation| %>
      <tr>
        <td><%= bathroom_reservation.reservation_id %></td>
        <td><%= bathroom_reservation.bathroom_id %></td>
        <td><%= link_to 'Show', bathroom_reservation %></td>
        <td><%= link_to 'Edit', edit_bathroom_reservation_path(bathroom_reservation) %></td>
        <td><%= link_to 'Destroy', bathroom_reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bathroom Reservation', new_bathroom_reservation_path %>
