<%= form_with(model: menu_reservation) do |form| %>
  <% if menu_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu_reservation.errors.count, "error") %> prohibited this menu_reservation from being saved:</h2>

      <ul>
        <% menu_reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reservation_id %>
    <%= form.text_field :reservation_id %>
  </div>

  <div class="field">
    <%= form.label :menu_id %>
    <%= form.text_field :menu_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
