<p id="notice"><%= notice %></p>

<h1>Menu Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Reservation</th>
      <th>Menu</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_reservations.each do |menu_reservation| %>
      <tr>
        <td><%= menu_reservation.reservation_id %></td>
        <td><%= menu_reservation.menu_id %></td>
        <td><%= menu_reservation.date %></td>
        <td><%= link_to 'Show', menu_reservation %></td>
        <td><%= link_to 'Edit', edit_menu_reservation_path(menu_reservation) %></td>
        <td><%= link_to 'Destroy', menu_reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu Reservation', new_menu_reservation_path %>
