<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @menu_reservation.reservation_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @menu_reservation.menu_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @menu_reservation.date %>
</p>

<%= link_to 'Edit', edit_menu_reservation_path(@menu_reservation) %> |
<%= link_to 'Back', menu_reservations_path %>
