<!DOCTYPE html>
<html>
  <head>
    <title>LosQuebrachos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-blue-200	 h-screen overflow-y-auto text-black">
      <%= render "shared/navbar" %>  
      <%= yield %>
    </div>

  </body>

    <%= render  'shared/footer' %>

</html>
